.DS_Store

# FVM Version Cache
.fvm/

.dart_tool/
.idea/
.vscode/


**/*.g.dart
**/*.gr.dart
**/*.freezed.dart
**/*.cherrypick_injectable.g.dart

pubspec_overrides.yaml

melos_cherrypick.iml
melos_cherrypick_workspace.iml
melos_cherrypick_flutter.iml
melos_benchmark_di.iml
melos_talker_cherrypick_logger.iml

coverage